@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------------------------------------МИКСИН ДЛЯ АДАПТИВНОГО ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПСЕВДОЭЛЕМЕНТОВ--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПЛЕЙСХОЛДЕРОВ--------------------------------------------------------*/
/*--------------------------------------------------УСЕЧЕНИЕ ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------Спрятать\Показать блок--------------------------------------------------------*/
/*ПЕРЕМЕННЫЕ------------------------------------------------------------------------*/
/*ширина контейнера*/
/*Отступы у контейнера*/
/*Максимальная ширина*/
/*Минимальная ширина*/
/*КОНТЕЙНЕР------------------------------------------------------------------------*/
.container {
  max-width: 1180px;
  padding: 0px 15px;
  margin: 0 auto;
}

/*ВРАППЕР------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #C5C6E4;
}

.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

.sender {
  color: white;
}
.sender__inner {
  padding-top: 20px;
}
.sender__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.sender__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.sender__select-wrapper {
  max-width: 320px;
  position: relative;
}
.sender__select-wrapper:after {
  content: "";
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top: 10px solid #1A402E;
  top: 15px;
  right: 10px;
}
.sender__select {
  cursor: pointer;
  width: 100%;
  padding: 10px 0px 10px 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.sender__button {
  max-width: 170px;
  background: white;
  border-radius: 2px;
  padding: 10px 0px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.sender__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid blue;
}